[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=docker-compose up
ExecStop=docker-compose stop
WorkingDirectory=%h/.local/opt/PeerBanHelper

[Unit]
After=docker.service
After=network.target
Description=Peer Ban Helper
